/* Estilos para el cuerpo y el encabezado */
body {
    margin: 0;
    padding: 0;
    font-family: 'Sedan SC', sans-serif;
    /* Quiero un degradado de fondo con colores oscuros, azul oscuro y negro */
    background: linear-gradient(90deg, #15212a, #1a2b2b);
    color: white;
    font-size: 0.8em; /* Tamaño de fuente más pequeño */
}

header {
    text-align: center;
    padding: 0px;
    margin: 0%;
}

/* Estilos para el contenedor */
.container {
    max-width: 400px; /* ajusta este valor según tus necesidades */
    width: 100%;
    margin: 0 auto; /* centrar el contenedor horizontalmente */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* añade opacidad al fondo del formulario */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* añade sombra al formulario */
}

/* Estilos para el formulario */
form {
    margin-top: 20px;
}

/* Estilos para los labels de fecha de inicio y fecha final */
label {
    display: block; /* Hacer que los labels ocupen una línea completa */
    font-size: 18px; /* Tamaño de fuente más grande */
    margin-bottom: 10px; /* Espacio inferior entre los labels y los elementos siguientes */
}

/* Estilos para los inputs de fecha de inicio y fecha final */
input[type="date"], input[type="text"] {
    padding: 5px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de fuente más grande */
    border-radius: 5px; /* Borde redondeado */
    border: 1px solid #ccc; /* Borde delgado */
    width: 100%; /* Ancho completo del contenedor */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
    margin-bottom: 10px; /* Espacio inferior entre los inputs y los elementos siguientes */
}

/* Estilos para el botón */
button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    margin: 0 auto; /* Centrar horizontalmente */
    display: block; /* Hacer que el botón sea un bloque para que ocupe todo el ancho disponible */
    width: 50%;
}

/* Cambiar el color de fondo cuando se pasa el ratón */
button:hover {
    background-color: #45a049; /* Color de fondo más oscuro */
}

/* Agregar una animación al hacer clic en el botón */
button:active {
    transform: translateY(2px); /* Desplazar hacia abajo 2px al hacer clic */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Agregar sombra al hacer clic */
}

/* Estilos para el campo de entrada de resultado */
#resultado {
    padding: 15px; /* Espaciado interno */
    border: 2px solid #4CAF50; /* Borde sólido verde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 20px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
    color: #4CAF50; /* Color de texto verde */
    outline: none; /* Eliminar el contorno al enfocar */
    transition: border-color 0.3s ease; /* Transición suave del color de borde */
}

/* Cambiar el color del borde cuando se enfoca el campo */
#resultado:focus {
    border-color: #45a049; /* Borde más oscuro al enfocar */
}
